

#chat-container {
    width: 99%;
    float: right;
    margin: auto;
    height: 500px;
    border: 1px solid #ddd;
    padding: 10px;
}

#chat-box {
    height: 80%;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#user-input {
    width: 67%;
    padding: 10px;
}

#send-btn {
    width: 18%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#retry-btn {
    width: 8%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#retry-btn:hover {
    background-color: #45a049;
}


/* 消息气泡 */
.user, .bot {
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    clear: both;
    font-family: -apple-system, system-ui, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 18px; 
    color: white;
}

.user {
    background-color: #DCF8C6;
    float: right;
    border-bottom-right-radius: 0;
}

.bot {
    background-color: #E0E0E0;
    float: left;
    border-bottom-left-radius: 0;
}

/* 清除浮动 */
#chat-box::after {
    content: "";
    display: table;
    clear: both;
}
